<style>
.content{
	max-width 500px:
	margin: auto;
	margin-top: 200px;
}
</style>

<div class="content" align="center">
<h2>Log In</h2>
<form action="/" method="post">
	{% csrf_token %}
	Username or E-mail<br>
	{{ form.username }} <br><br>
	Password<br>
	{{ form.password }} <br><br>
	<button type = "submit">Log In</button> <br><br>
	<a href = "create-account/"><button type="button">Create Account</button></a><br><br>
	<a href = "home/"><button type="button">Continue As Guest</button></a><br><br>
</form>
</div>
