<style>
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.grid-child{
	margin-left: 20px;
}
.grid-child-recipe{
	margin-left: -20px;
}
</style>

<div align="center">
	<h1>All Recipes</h1>
</div>
<br>
<div class="grid-container">
	<div class="grid-child recipe1">
		<a href="../recipes/chicken-parmesan">Chicken Parmesan</a>
		<p>
		Chicken parmesan is a dish that consists of breaded chicken breast covered in tomato sauce and mozzarella, parmesan, or provolone cheese.[1] A quantity of ham or bacon is sometimes added
		</p>
		<p>TAGS: Italian, Chicken, Tomato, Dairy</p>
	</div>
	<div class="grid-child recipe1">
		<a href="../recipes/chicken-parmesan">Chicken Parmesan</a>
		<p>
		Chicken parmesan is a dish that consists of breaded chicken breast covered in tomato sauce and mozzarella, parmesan, or provolone cheese.[1] A quantity of ham or bacon is sometimes added
		</p>
		<p>TAGS: Italian, Chicken, Tomato, Dairy</p>
	</div>
	<div class="grid-child recipe1">
		<a href="../recipes/chicken-parmesan">Chicken Parmesan</a>
		<p>
		Chicken parmesan is a dish that consists of breaded chicken breast covered in tomato sauce and mozzarella, parmesan, or provolone cheese.[1] A quantity of ham or bacon is sometimes added
		</p>
		<p>TAGS: Italian, Chicken, Tomato, Dairy</p>
	</div>
</div>

